body 
{
    background-color: rgb(39, 107, 27);
    margin: 0;
}

.button-style 
{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    background-color: rgb(207, 207, 207);
}

.theme-options {
    float:right;
}

.button-style:hover 
{
    cursor: pointer;
    background-color: #bfcFeb;
}

.options-bar
{
    background-color:rgb(207, 207, 207);
    padding: 5px; 
}

.main-notepad 
{
    margin: auto;
    margin-top: 50px;
    width: 500px;
}

.heading 
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background-color: rgb(39, 107, 27);
    border: none;
    outline: none;
}

.center 
{
    margin: auto;
    margin-top: 30px;
    text-align: center;
}

.content 
{
    background-color: rgb(246, 241, 241);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    height: 300px;
    width: 489px;
    padding: 5px;
}

